<%- include ("../_header"); %>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Product</title>
</head>
<body>
    <h1>Edit Product</h1>
    <form method="POST" action="/updateProduct/<%= doc.id %>">
        <label for="Name">Name: </label>
        <input type="text" id="name" name="name" value="<%= doc.name %>" required>
        <br>
        <label for="description">Description </label>
        <input type="text" id="description" name="description" value="<%= doc.description %>" required>
        <br>
        <label for="brand">Brand: </label>
        <input type="text" id="brand" name="brand" value="<%= doc.brand %>" required>
        <br>
        <label for="sku">SKU: </label>
        <input type="text" id="sku" name="sku" value="<%= doc.sku %>" required>
        <br>
        <label for="price">Price: </label>
        <input type="text" id="price" name="price" value="<%= doc.price %>" required>
        <br>
        <button type="submit">Edit Product</button>
    </form>
    <a href="/">Back to Products</a>
</body>
</div>
</body>
</html>